In [2]:
import pandas as pd
import numpy as np
import nltk
# Cleaning the texts
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [4]:
#data = pd.read_excel("1000 leads.xlsx")


#pd.read_excel(io.StringIO(uploaded['1000 leads.xlsx'].decode('utf-8')))
#from google.colab import files 
#import io
#uploaded = files.upload()
#data = io.BytesIO(uploaded['1000 leads.xlsx'])

Saving 1000 leads.xlsx to 1000 leads.xlsx

In [62]:
df=pd.read_excel("1000 leads.xlsx")

In [63]:
df.head()

       Lead Name  ... Unnamed: 4
0           Raja  ...        NaN
1  Anirudh Reddy  ...        NaN
2   Sapna Dewani  ...        NaN
3         suresh  ...        NaN
4  Akshay Shinde  ...        NaN

[5 rows x 5 columns]

In [64]:
df.columns

Index(['Lead Name', 'Location', 'Status ', 'Status information', 'Unnamed: 4'], dtype='object')

In [65]:
df.drop(['Lead Name', 'Location','Unnamed: 4'],axis=1, inplace=True)

In [66]:
df.head()

         Status                                  Status information
0  Not Converted  14/8/prema: share me details, available in evn...
1  Not Converted  14/8/prema: cal me tmrw, shared details to ema...
2     Converted                                    16|AuG|moHan:rnr
3  Not Converted  14/8/17(Surendra):i want only Server 16|AuG|mo...
4  Not Converted  14/8/prema:rnr 16/8/prema: gave info, he said ...

In [67]:
df.info

<bound method DataFrame.info of             Status                                  Status information
0     Not Converted  14/8/prema: share me details, available in evn...
1     Not Converted  14/8/prema: cal me tmrw, shared details to ema...
2        Converted                                    16|AuG|moHan:rnr
3     Not Converted  14/8/17(Surendra):i want only Server 16|AuG|mo...
4     Not Converted  14/8/prema:rnr 16/8/prema: gave info, he said ...
...             ...                                                ...
996   Not Converted  25/4/17(Surendra):please send me details tomor...
997   Not Converted  24/4/17(prema): need CT, but our venue is far....
998   Not Converted  24/Apr/moHan:intrstd in evng batch trail perd ...
999   Not Converted  1/5/17(Surendra):please share me details 11/5/...
1000  Not Converted  24/4/17(prema): shared details need only Cert....

[1001 rows x 2 columns]>

In [68]:
df['Status ']= df['Status '].replace(['Conveted'],'Converted ')

In [69]:
df['Status '].unique()

array(['Not Converted', 'Converted ', 'NOt Converted', nan], dtype=object)

In [70]:
data_new=df.dropna()

In [71]:
data_new.isnull().sum().sort_values(ascending = False)

Status information    0
Status                0
dtype: int64

In [72]:
data_new.head()

         Status                                  Status information
0  Not Converted  14/8/prema: share me details, available in evn...
1  Not Converted  14/8/prema: cal me tmrw, shared details to ema...
2     Converted                                    16|AuG|moHan:rnr
3  Not Converted  14/8/17(Surendra):i want only Server 16|AuG|mo...
4  Not Converted  14/8/prema:rnr 16/8/prema: gave info, he said ...

[link text](https:// [link text](https://))# New Section

In [73]:
data_new.columns

Index(['Status ', 'Status information'], dtype='object')

In [74]:
data_new['Status ']

0       Not Converted
1       Not Converted
2          Converted
3       Not Converted
4       Not Converted
            ...
996     Not Converted
997     Not Converted
998     Not Converted
999     Not Converted
1000    Not Converted
Name: Status , Length: 974, dtype: object

In [75]:
data_new['Status '].value_counts(normalize=True) * 100

Not Converted    85.626283
Converted        13.244353
NOt Converted     1.129363
Name: Status , dtype: float64

In [76]:
data_new['Status1']=data_new['Status ']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
data_new['Status_information']=data_new['Status information']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
data_new.drop(['Status '],axis =1 , inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [79]:
data_new.drop('Status information',axis =1 , inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [80]:
data_new['Status1'] = data_new['Status1'].replace([''],'converted')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
data_new['Status1'].unique()

array(['Not Converted', 'Converted ', 'NOt Converted'], dtype=object)

In [82]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [83]:
data_new.reset_index(drop=True, inplace=True)
data_new.head(10)

         Status1                                 Status_information
0  Not Converted  14/8/prema: share me details, available in evn...
1  Not Converted  14/8/prema: cal me tmrw, shared details to ema...
2     Converted                                    16|AuG|moHan:rnr
3  Not Converted  14/8/17(Surendra):i want only Server 16|AuG|mo...
4  Not Converted  14/8/prema:rnr 16/8/prema: gave info, he said ...
5  Not Converted  12/8/17(Surendra):i will check demo(attended d...
6  Not Converted                      14/8/17(Surendra):asking code
7  Not Converted  11|aUg|moHan:mail shred for ML Tensorflow corp...
8  Not Converted                            11|AuG|moHan:askng code
9  Not Converted  11/8/prema: RNR 11/8/prema: share me tableau r...

In [84]:

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(data_new)):
    review = re.sub('[^a-zA-Z]', ' ', data_new['Status_information'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [85]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)
X = cv.fit_transform(corpus).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [87]:
# Apply first level cleaning
import re
import string

#This function converts to lower-case, removes square bracket, removes numbers and punctuation
def text_clean_1(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

cleaned1 = lambda x: text_clean_1(x)

In [88]:
# Let's take a look at the updated text
data_new['Status1'] = pd.DataFrame(data_new.Status1.apply(cleaned1))
data_new.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Status1                                 Status_information
0  not converted  14/8/prema: share me details, available in evn...
1  not converted  14/8/prema: cal me tmrw, shared details to ema...
2     converted                                    16|AuG|moHan:rnr
3  not converted  14/8/17(Surendra):i want only Server 16|AuG|mo...
4  not converted  14/8/prema:rnr 16/8/prema: gave info, he said ...
5  not converted  12/8/17(Surendra):i will check demo(attended d...
6  not converted                      14/8/17(Surendra):asking code
7  not converted  11|aUg|moHan:mail shred for ML Tensorflow corp...
8  not converted                            11|AuG|moHan:askng code
9  not converted  11/8/prema: RNR 11/8/prema: share me tableau r...

In [89]:
data_new['Status1']= data_new['Status1'].replace(['converted '],'interested')
data_new['Status1']= data_new['Status1'].replace(['not converted'],'not interested')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
data_new['Status1'].unique()

array(['not interested', 'interested'], dtype=object)

In [92]:
data_new['Status1'].value_counts(normalize=True) * 100

not interested    86.755647
interested        13.244353
Name: Status1, dtype: float64

(974, 1)

In [93]:
data_new.dropna()
Y=data_new['Status1']
Y.shape

(974,)

In [94]:
# Train Test Split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state = 0)

In [95]:
# Training model using Naive bayes classifier

from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train, y_train)

y_pred=spam_detect_model.predict(X_test)

In [96]:
from sklearn import metrics

print(metrics.classification_report(y_test,y_pred))
print(metrics.confusion_matrix(y_test,y_pred))

                precision    recall  f1-score   support

    interested       0.20      0.15      0.17        20
not interested       0.91      0.93      0.92       175

      accuracy                           0.85       195
     macro avg       0.55      0.54      0.54       195
  weighted avg       0.83      0.85      0.84       195

[[  3  17]
 [ 12 163]]

In [97]:
y_pred

array(['not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'interested', 'interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'interested', 'not interested', 'not interested',
       'not interested', 'interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested', 'interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested', 'interested',
       'not interested', 'not interested', 'not interested', 'interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested', 'interested',
       'not interested', 'not interested', 'interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested', 'not interested', 'not interested',
       'not interested'], dtype='<U14')